@import "./base.scss";
.show-picker{
    position: relative!important;
}
.picker-box {
    border: 1px solid #DDE0E6;
    position: absolute;
    left: 0;
    z-index: 999;
    width: 446px;
    display: none;
    &.show{
        display: block;
    }
    .picker-content-box {
        overflow: hidden;
        width: 100%;
        .picker-content {
            width: 223px;
            &-left {
                float: left;
            }
            &-right {
                float: right;
            }
            .picker-header {
                height: 31px;
                background: #F0F1F3;
                position: relative;
                h5 {
                    line-height: 31px;
                    text-align: center;
                    color: #333333;
                    font-size: 12px;
                    font-weight: bold;
                }
                .arrow {
                    height: 8px;
                    width: 8px;
                    position: absolute;
                    margin: auto;
                    border: 2px solid #4E7CDD;
                    border-right: transparent;
                    border-bottom: transparent;
                    top: 0;
                    bottom: 0;
                }
                .left-arrow {
                    left: 13px;
                    transform: rotate(-45deg);
                    &.disable {
                        opacity: .5;
                    }
                }
                .right-arrow {
                    right: 13px;
                    transform: rotate(135deg);
                    &.disable {
                        opacity: .5;
                    }
                }
            }
            .picker-body {
                padding: 10px;
                height: 174px;
                width: 203px;
                background: #fff;
                .picker-week-box {
                    height: 20px;
                    color: #333333;
                    font-size: 10px;
                    table {
                        width: 100%;
                        th {
                            line-height: 20px;
                            text-align: center;
                            &:last-child {
                                color: #FF5A82;
                            }
                            &:first-child {
                                color: #FF5A82;
                            }
                        }
                        td {
                            text-align: center;
                            color: #333333;
                            font-size: 12px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
    .picker-tips {
        border-top: 1px solid #DDE0E6;
        background: #fff;
        padding: 6px;
        p {
            img {
                display: inline-block;
                vertical-align: middle;
                margin-top: -4px;
                width: 12px;
                height: 12px;
            }
            color:#666666;
            font-size: 12px;
            text-align: center;
        }
    }
}