@import "./base.scss";
.J-zzc-show-calendar {
    position: relative!important;
}

.zzc-calendar-box {
    border: 1px solid #DDE0E6;
    position: absolute;
    left: 0;
    z-index: 999;
    width: 446px;
    display: none;
    &.show {
        display: block;
    }
    .zzc-calendar-content-box {
        background: #fff;
        overflow: hidden;
        width: 100%;
        .zzc-calendar-content {
            width: 223px;
            &-left {
                float: left;
            }
            &-right {
                float: right;
            }
            .zzc-calendar-header {
                height: 31px;
                background: #F0F1F3;
                position: relative;
                h5 {
                    line-height: 31px;
                    text-align: center;
                    color: #333333;
                    font-size: 12px;
                    font-weight: bold;
                }
                .arrow {
                    position: absolute;
                    cursor: pointer;
                    height: 31px;
                    width: 31px;
                    &::before {
                        content: '';
                        display: block;
                        height: 8px;
                        width: 8px;
                        position: absolute;
                        margin: auto;
                        border: 2px solid #4E7CDD;
                        border-right: transparent;
                        border-bottom: transparent;
                        top: 0;
                        bottom: 0;
                    }
                }
                .left-arrow {
                    left: 0;
                    &::before {
                        transform: rotate(-45deg);
                        left: 13px;
                    }
                    &.disable {
                        &::before {
                            opacity: .5;
                        }
                    }
                }
                .right-arrow {
                    right: 0;
                    &::before {
                        right: 13px;
                        transform: rotate(135deg);
                    }
                    &.disable {
                        &::before {
                            opacity: .5;
                        }
                    }
                }
            }
            .zzc-calendar-body {
                padding: 10px;
                width: 203px;
                background: #fff;
                height: 100%;
                table {
                    height: 20px;
                    color: #333333;
                    font-size: 10px;
                    width: 100%;
                    th {
                        line-height: 20px;
                        text-align: center;
                        &:last-child {
                            color: #FF5A82;
                        }
                        &:first-child {
                            color: #FF5A82;
                        }
                    }
                    td {
                        cursor: pointer;
                        text-align: center;
                        color: #333333;
                        font-size: 12px;
                        line-height: 24px;
                        &:hover {
                            background: rgba(134, 171, 255, .15);
                        }
                        &.perch {
                            &:hover {
                                background: #fff;
                            }
                        }
                        &.gone {
                            color: #CCCCCC;
                            &:hover {
                                background: #fff;
                            }
                        }
                        &.hover{
                            background: rgba(134, 171, 255, .15);
                            &.gone,&.perch {
                                background:#fff;
                            }
                        }
                        &.start,
                        &.end {
                            background: #4E7CDD;
                            color: #fff;
                            &:hover {
                                background: #4E7CDD;
                            }
                        }
                        &.active {
                            background: rgba(134, 171, 255, .15);
                            &:hover {
                                background: rgba(134, 171, 255, .15);
                            }
                        }
                    }
                }
            }
        }
    }
    .zzc-calendar-tips {
        border-top: 1px solid #DDE0E6;
        background: #fff;
        padding: 6px;
        p {
            img {
                display: inline-block;
                vertical-align: middle;
                margin-top: -4px;
                width: 12px;
                height: 12px;
            }
            color:#666666;
            font-size: 12px;
            text-align: center;
        }
    }
}